.input input {
    width: 100%;
    height: 40px;
    font-size: 20px;
}
.input label{
   font-size: 15px;
   color: #535353b0;
}

.labels{
    display: flex;
    justify-content: space-between;
}
.labels .err_msg{
    color: #ff0000;
}