.login_card {
    width: 400px;
    padding: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.login_card .login_title {
    text-align: center;
    font-weight: 500;
}

.login_card .have_ac a {
    text-decoration: none;
}

.login_card .have_ac p {
    font-size: 14px;
}

.login_card .error_display {
    text-align: center;
    color: #ff0000;

}

.login_card form {
    margin-top: 1.5rem;
}

.login_card .input {
    margin: 10px 0px;
}

.login_card .login_btn {
    width: 100%;
    background-color: #16161d;
    border: 0;
    color: #fff;
    padding: 1rem;
    margin-top: 10px;
}
.login_card .login_btn:disabled{
   opacity: 0.7;
}
.login_card .google_login_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #16161d;
    color: #16161d;
    padding: 1rem;
    margin-top: 10px;
}

.login_card .google_login_btn img {
    width: 30px;
}